table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

  .add_btn_table{
    border: 0;
  }

  .add_btn_table tr {
    border: 0;
  }

  .add_btn {
    text-align: right;
  }

  table tr {
    border: 1px solid #ddd;
    padding: .35em;
    font-size: var(--text-sm);
  }

  tr:nth-child(even) {
    background-color: #c9c9c9;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
    font-size: var(--text-sm);
  }
  
  table th {
    background-color: #febf01;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: var(--text-sm);
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
      font-size: var(--text-sm);
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;
      font-size: var(--text-sm);
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
      font-size: var(--text-sm);
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }